<div id="<%= dom_id comment %>">
  <div class="comment clearfix">
    <div class="comment-avatar">
      <%= gravatar_for comment.user, size: 48 %>
    </div>
    <div class="comment-body">
      <header>
        <% if current_user == comment.user %>
          <div class="actions">
            <%= link_to fa_icon("pencil"), edit_comment_path(comment), remote: true %>
            <%= link_to fa_icon("times"),  comment_path(comment),
                  remote: true, method: :delete, confirm: "Are you sure?" %>
          </div>
        <% end %>
        <strong><%= link_to comment.user, comment.user %></strong> commented
        <%= distance_of_time_in_words comment.created_at, Time.now %> ago
      </header>
      <div class="comment-text"><%= raw comment.text %></div>
    </div>
  </div>
</div>
