<%= form_for User.new do |f| %>
  <div class="field">
    <%= f.label :username %>
    <%= f.text_field :username, required: true %>
    <%= f.label :email %>
    <%= f.email_field :email, required: true %>
  </div>
  <%= submit_tag "Get Started!", class: "button" %>
<% end %>
