<h1>Edit Your Account</h1>

<%= form_for @user, url: "/users/dumb_update", method: "get" do |f| %>

  <%= f.label :username %>
  <%= f.text_field :username %>
  <%= f.label :email %>
  <%= f.text_field :email %>
  <div class="actions"><%= f.submit "Update Email", class: "button small" %></div>

  <br>
  <br>
  <%= f.label :password, "New password" %>
  <%= f.password_field :password %>
  <%= f.label :password_confirmation, "New password confirmation" %>
  <%= f.password_field :password_confirmation %>
  <div class="actions"><%= f.submit "Update Password", class: "button small" %></div>

  <br>
  <br>
  <br>
  <h3>Danger Zone</h3>
  <br>
  <%= link_to "Delete Account", user_path,
    method: :delete,
    data: { confirm: "This will destroy your account and all the cats & comments & joy you created. It cannot be undone! :-(" },
    class: "button small alert" %>
<% end %>
